<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.nyk.sf.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.nyk.sf.vo.StudyVO" alias="studyVO"/>
		<typeAlias type="com.nyk.sf.vo.ReplyVO" alias="replyVO"/>
		<typeAlias type="com.nyk.sf.vo.StudyMemberVO" alias="studyMemberVO"/>
	</typeAliases>
	<mappers>
	<mapper resource="mapper/memberMapper.xml" />
	<mapper resource="mapper/studyMapper.xml" />
	<mapper resource="mapper/replyMapper.xml" />
	<mapper resource="mapper/studyMemberMapper.xml" />
	</mappers>
</configuration>
